<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <style>
    h1 {
      font-family: Impact sans-serif;
    }
    body {
      position: relative;
      width: 1440px;
      height: 1024px;
      background: linear-gradient(180deg, rgba(207, 255, 246, 0.7) 0%, rgba(255, 248, 223, 0.7) 60.42%);
    }
  </style>
  <title>Это главная страница</title>
  <h1 align="center">Это главная страница</h1>
  <div>
    <h2><%= link_to "Питомцы", "/pets" %></h2>
    <h2><%= link_to "О нас", "/about_us" %></h2>
    <h2><%= link_to "События", "/events" %></h2>
  </div>
</head>
</html>